<div class="sidenav-header">
    <img src="/assets/profile-pic.jpg" alt="profile pic" [width]="profilePicSize()" [height]="profilePicSize()" />
    <div class="header-text" [class.hide-header-text]="sideNavCollapsed()">
        <h2>&#64;occian47</h2>
        <p>Your channel</p>
    </div>
</div>
<mat-nav-list>
    @for (item of menuItems(); track item) {
    <a mat-list-item class="menu-item" [routerLink]="item.route" routerLinkActive="selected-menu-item"
        #rla="routerLinkActive" [activated]="rla.isActive">
        <mat-icon [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'"
            matListItemIcon>{{item.icon}}</mat-icon>
        @if (!sideNavCollapsed()) {
        <span matListItemTitle>{{item.label}}</span>
        }
    </a>
    }
</mat-nav-list>