<!-- <div class="container"> -->
<!-- <h1>App project details</h1>
    <mat-form-field>
        <mat-label>Project Name</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Pattern</mat-label>
        <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
    <div class="nav-row">
        <a mat-fab extended routerLink=".">
            <mat-icon>west</mat-icon>
            Back
        </a>
        <a mat-fab extended routerLink=".">
            Continue
            <mat-icon>east</mat-icon>
        </a>
    </div> -->

<!-- </div> -->
<h1 style="margin: auto;font-weight: 800;">Bootstrap your new project in 5 simple steps</h1>
<app-generator></app-generator>