.container {
    display: flex;
    width: 100%;
    margin-top: 5%;
    flex-direction: column;
    // align-items: flex-start;
    justify-content: center;
    align-items: center;
}

.nav-row {
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
}